* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    padding: 8px; 
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
}

.header {
    border: 1px solid gray;
}

.header h4 {
    margin: 8px; 
}

.header ul {
    margin: 10px;
}

.header .site_link {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;    
}

.game {
    overflow: hidden;
    position: relative;
    border: 1px solid grey;
    flex: 0 1 100%;
    background: black url("../img/bg/bg1.png") repeat;
    background-position: 0px 0px;
    animation: bgFlow 1100s linear 0s infinite;
}

@keyframes bgFlow {
    0% {background-position: 0px 0px;}
    100%{background-position: 0px 10000px;}
}

.game #rock_container {
    width: 100%;
    height: 100%;
}

.game #rock_container .rock {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 115px;
    height: auto;
    transition: top 100ms;
}

.game #ship {
    position: absolute;
    width: 115px;
    height: auto;
}





