* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    padding: 0px; 
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
}

.info_icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

#info {
    display: none;
    border: 1px solid gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
}

#info h4 {
    margin: 8px; 
}

#info ul {
    margin: 10px;
}

#info .site_link {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;    
}

.game {
    overflow: hidden;
    position: relative;
    border: 1px solid grey;
    flex: 0 1 100%;
    background: black url("../img/bg/bg1.png") repeat;
    background-position: 0px 0px;
    animation: bgFlow 1100s linear 0s infinite;
}

@keyframes bgFlow {
    0% {background-position: 0px 0px;}
    100%{background-position: 0px 10000px;}
}

.game #rock_container {
    width: 100%;
    height: 100%;
}

.game #rock_container .rock {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 115px;
    height: auto;
    transition: top 100ms, left 100ms;
}

.game #ship {
    position: absolute;
    width: 115px;
    height: auto;
}

.game #debug {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
}

.game #gametime {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    font-size: 25px;
}

.game #replay {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: red;
    background-color: rgb(0, 0, 0);
    padding: 40px;
    border: 1px solid rgb(143, 0, 0);
    box-shadow: 7px 6px 5px rgb(141, 0, 0);
}

.game #replay p {
    font-size: 60px;
}

